language: cpp
sudo: required
dist: trusty
compiler: gcc
addons:
    apt:
        sources:
        - sourceline: "deb http://archive.panda3d.org/ubuntu/ trusty-dev main"
        packages:
            - cmake
            - libeigen3-dev
            - libfreetype6-dev
            - panda3d1.10
            - libprotobuf-dev

install:
  - wget https://github.com/google/protobuf/archive/v3.1.0-alpha-1.tar.gz
  - tar -xzvf v3.1.0-alpha-1.tar.gz
  - pushd v3.1.0-alpha-1.tar.gz && ./configure --prefix=/usr && make && sudo make install && popd

script:
    - export PYTHONPATH=${PYTHONPATH}:/usr/lib/python2.7/dist-packages
    - export PYTHONPATH=${PYTHONPATH}:/usr/share/panda3d
    - echo -e "generate_pdb=1\nmodule_name=p3d_ecs\nuse_lib_eigen=1\nuse_lib_freetype=0\nvc_version=Visual Studio 14 2015" > p3d_ecs/native/config.ini
    - python2.7 ./p3d_ecs/scripts/setup.py
    - python2.7 run_tests.py --ci
